@property --distance {
	syntax: "<length>";
	initial-value: 0px;
	inherits: true;
}

.readiness.rainbow baseline-ray {
	--ray-section-height: clamp(30px, 4vw, 80px);
	--ray-section-width: 1.5rem;

	strong {
		display: none;

		z-index: 3;
		position: absolute;
		left: 50%;
		bottom: var(--outer-spacing);
		transform: translateX(-50%);

		font-family: "Shrikhand", serif;
		font-weight: 400;
		font-size: 1.5rem;
		text-align: center;
		text-shadow: 2px 2px 10px #000, -2px -2px 10px #000;
	}

	&:hover strong {
		display: block;
	}

	ul {
		position: absolute;
		bottom: calc(var(--outer-spacing) + (75px - 6vw));
		left: 50%;

		--position: calc(180 / var(--sibling-count) * var(--sibling-index) - 90);

		--rotation: calc(var(--position) * 1deg);
		transform: translateX(-50%) rotate(var(--rotation)) translateY(-5rem);
		transform-origin: bottom center;

		&:hover {
			z-index: 3;
		}

		&::before {
			content: "";
			display: block;
			position: absolute;

			width: 1.5rem;
			height: calc(var(--ray-section-height) * 10);

			transform: translateY(-5rem);

			opacity: 0.2;
			background-color: #fff3;

			transition: opacity 150ms;
		}

		&:hover::before {
			opacity: 1;
		}
	}
}

.readiness.list baseline-ray {
	--ray-section-height: 1.5rem;
	--ray-section-width: 100%;

	width: 100%;

	a {
		display: grid;
		grid-template-columns: 1fr 2fr;

		gap: var(--inner-spacing);

		width: 100%;
	}

	ul {
		display: flex;
		width: 100%;
	}
}

baseline-ray {
	a {
		color: var(--ray-text-color);
	}

	ul {
		list-style: none;
	}

	li {
		height: var(--ray-section-height);
		width: var(--ray-section-width);

		--background-color: var(--unavailable-color);

		transition: transform 100ms, opacity 200ms;

		background-color: var(--background-color);
		background: linear-gradient(
			30deg,
			var(--background-color) 0%,
			lch(from var(--background-color) calc(l + 20) c h / alpha) 100%
		);

		&:hover {
			transform: scale(1.1);
		}
	}

	.chrome[data-status="available"] {
		--background-color: var(--chrome-color);
	}
	.edge[data-status="available"] {
		--background-color: var(--edge-color);
	}

	.firefox[data-status="available"] {
		--background-color: var(--firefox-color);
	}

	.safari[data-status="available"] {
		--background-color: var(--safari-color);
	}
}
