.intro {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100dvh;

	padding: var(--outer-spacing);

	header {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	h1 {
		overflow: hidden;
		padding-right: 10px;
		text-align: center;
		margin: 0 auto;

		font-size: 4rem;
	}

	p {
		font-size: 1.2rem;
	}
}

@media screen and (width > 600px) {
	.intro {
		h1 {
			border-right: 0.15em solid orange;

			white-space: nowrap;
		}
	}
}
