.readiness {
	position: relative;

	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: min-content;
	grid-template-areas: "caption header .";
	gap: var(--outer-spacing);

	height: 100dvh;

	padding: var(--outer-spacing);
	padding-bottom: calc(var(--outer-spacing) * 1.5);

	header {
		grid-area: header;

		display: flex;
		flex-flow: column;
		gap: 10px;

		text-align: center;

		h1 {
			font-size: 2rem;
		}

		a {
			color: var(--text-color);
			font-size: 0.8rem;
		}
	}
}

.readiness.list {
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		"caption header ."
		"rays rays rays";

	.rays {
		grid-area: rays;

		display: flex;
		flex-flow: column;
		align-items: flex-start;
		gap: var(--inner-spacing);

		padding: var(--inner-spacing);

		overflow: auto;
		scrollbar-gutter: stable;
		scrollbar-width: thin;
	}

	strong {
		clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
	}
}

.readiness:has(.caption .safari:hover) {
	baseline-ray .safari[data-status="available"] {
		z-index: 5;
		position: relative;
		/* transform: scale(1.1); */
	}

	baseline-ray li:not(.safari[data-status="available"]) {
		opacity: 0.4;
	}
}

.readiness:has(.caption .firefox:hover) {
	baseline-ray .firefox[data-status="available"] {
		z-index: 5;
		position: relative;
		/* transform: scale(1.1); */
	}

	baseline-ray li:not(.firefox[data-status="available"]) {
		opacity: 0.4;
	}
}

.readiness:has(.caption .edge:hover) {
	baseline-ray .edge[data-status="available"] {
		z-index: 5;
		position: relative;
		/* transform: scale(1.1); */
	}

	baseline-ray li:not(.edge[data-status="available"]) {
		opacity: 0.4;
	}
}

.readiness:has(.caption .chrome:hover) {
	baseline-ray .chrome[data-status="available"] {
		z-index: 5;
		position: relative;
		/* transform: scale(1.1); */
	}

	baseline-ray li:not(.chrome[data-status="available"]) {
		opacity: 0.4;
	}
}

.caption {
	grid-area: caption;

	ul {
		display: flex;
		flex-flow: column;
		gap: var(--inner-spacing);

		list-style: none inside;
	}

	li {
		display: flex;
		gap: 10px;
		align-items: center;

		cursor: default;

		&::before {
			display: block;

			content: "";
			width: 1.5rem;
			aspect-ratio: 1;

			background-color: var(--browser-color);
		}
	}

	.chrome::before {
		--browser-color: var(--chrome-color);
	}

	.firefox::before {
		--browser-color: var(--firefox-color);
	}

	.edge::before {
		--browser-color: var(--edge-color);
	}

	.safari::before {
		--browser-color: var(--safari-color);
	}
}
.show-list {
	position: absolute;
	bottom: var(--inner-spacing);
	left: var(--outer-spacing);

	display: flex;
	gap: 10px;
	align-items: center;

	font-size: 0.9rem;

	input[type="checkbox"] {
		height: 20px;
		width: 20px;
	}
}

@media screen and (width < 800px) {
	.readiness {
		display: flex;
		flex-flow: column;
		align-items: center;

		.caption {
			width: 100%;
			padding: 0px var(--inner-spacing);

			ul {
				justify-content: space-between;
				flex-flow: row wrap;
			}
		}
	}
}

@media screen and (width < 600px) {
	.readiness .caption ul {
		li {
			flex: 1 1 45%;
		}
	}
}
