:root {
	--rem-value: clamp(12px, 2.5vw, 18px);
	--inner-spacing: 1.5rem;
	--outer-spacing: 3.5rem;

	--safari-color: oklch(50.84% 0.2484 285.61);
	--firefox-color: oklch(68% 0.171 70.67);
	--edge-color: oklch(60% 0.1068 169.71);
	--chrome-color: oklch(55% 0.2175 24.16);
	--unavailable-color: oklch(20% 0.075 290);

	--background: radial-gradient(circle at bottom center, lch(16.13% 41.77 303) 30%, lch(7.36% 0.52 19.7) 100%);

	--text-color: #dbdbdb;
	--ray-text-color: #dbdbdb;
}

*,
*::before,
*::after {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html {
	font-family: "Montserrat", sans-serif;
	font-size: var(--rem-value);
	color: var(--text-color);

	overflow: hidden;
	color-scheme: dark;
}

body {
	display: flex;
	flex-flow: column;
	justify-content: center;

	overflow: hidden;

	background: var(--background);
}

a:not(:is(:hover, :focus)) {
	text-decoration-color: color-mix(in srgb, currentColor, transparent 75%);
}
